{% extends '../base/base-index.html' %}

{% block tittle %}
<title>Ошибка 404</title>
{% endblock tittle %}

{% block content %}
<main id="main" class="main" style="margin-left: 0px;">

    <section class="section profile">
      <div class="row">
       
        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3 profile-overview">

                <h3>Ой, 404!</h3>
                <p>Запрашиваемая вами страница уже удалена. Пожалуйста, вернитесь на <a href="/">главную страницу</a>.</p>

            </div>

          </div>

        </div>
      </div>
    </section>

</main>
{% endblock content %}