{% extends '../base/base-index.html' %}

{% block tittle %}
<title>{{doc.type.ru}}, г. {{doc.city.ru}}{% if not doc.district.ru == None %}, {{doc.district.ru}} район{% endif %}</title>
{% endblock tittle %}

{% block description %}
<meta name="description" content="{{doc.info|truncatechars:200}}">
{% endblock description %}

{% block content %}

<main id="main" class="main" style="margin-left: 0px;">

    <div class="pagetitle">
        <h1>{{doc.type.ru}}, г. {{doc.city.ru}}{% if not doc.district.ru == None %}, {{doc.district.ru}} район{% endif %}</h1>
    </div>

    <section class="section profile">
      <div class="row">
        <div class="col-xl-3">

            <div class="card">
                <div class="d-flex flex-column align-items-center">

                    {% include '../include/slider.html' %}
              
                </div>
            </div>

        </div>


        <div class="col-xl-5">

          <div class="card">
            <div class="card-body pt-3 profile-overview">

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Город</div>
                    <div class="col-lg-9 col-md-8">{{ doc.city.ru }}</div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Район</div>
                    <div class="col-lg-9 col-md-8">{{ doc.district.ru }}</div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Адрес</div>
                    <div class="col-lg-9 col-md-8">{{ doc.address }}</div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Контакты</div>
                    <div class="col-lg-9 col-md-8">{{ doc.contact|slice:":1" }} {{ doc.contact|slice:"1:4" }} {{ doc.contact|slice:"4:7" }} {{ doc.contact|slice:"7:9" }} {{ doc.contact|slice:"9:11" }}</div>
                </div>

                <h5 class="card-title">Описание</h5>
                <p>{{ doc.info|linebreaks }}</p>

                <div class="row mt-5 mb-0">
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div>
                            
                        </div>
                        <span>{{ doc.create_time|date:"d.m.Y" }}</span>
                    </div>
                </div>

            </div>

          </div>

        </div>
      </div>
    </section>

</main>
{% endblock content %}