{% extends '../base/base-index.html' %}

{% block content %}

<main id="main" class="main" style="margin-left: 0px;">
    <section class="section">

        {% include '../include/search.html' %}

        <div class="pagetitle">
            <h1>Ищу на подселение</h1>
        </div>

        <div class="iconslist">
            {% for x in ad_look %}
                {% include '../include/ad_card_ver.html' %}
            {% endfor %}
        </div>

        <div class="pagetitle">
            <h1>Пойду на подселение</h1>
        </div>

        <div class="iconslist">
            {% for x in ad_go %}
                {% include '../include/ad_card_ver.html' %}
            {% endfor %}
        </div>
    </section>
</main>

{% endblock content %}