{% extends '../base/base-index.html' %}

{% block content %}

<main id="main" class="main" style="margin-left: 0px;">
    <section class="section">

        {% include '../include/search.html' %}

        <div class="pagetitle">
            <h1>Ищу на подселение</h1>
        </div>

        <div class="iconslist">
            {% for x in ad_looking %}
            <a href="{% url 'ad' x.ad %}">
                <div class="card">
                    <img src="/static/img/no-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">г. {{x.city}}, {{x.district}} район</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <div class="pagetitle">
            <h1>Пойду на подселение</h1>
        </div>

        <div class="iconslist">
            {% for x in ad_go %}
            <a href="{% url 'ad' x.ad %}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">г. {{x.city}}, {{x.district}} район</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock content %}