{% extends '../base/base-index.html' %}

{% block tittle %}
<title>Политика конфиденциальности</title>
{% endblock tittle %}

{% block content %}

<main id="main" class="main" style="margin-left: 0px;">

    <section class="section profile">
      <div class="row">
       
        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3 profile-overview">
                
                <h3 class="page-title">Политика конфиденциальности и обработки персональных данных при использовании сайтов и мобильных приложений Korshiles.kz</h3>
                <p>Политика конфиденциальности и обработки персональных данных при использовании сайтов и мобильных приложений Korshiles.kz (далее – Политика) определяет порядок и устанавливает требования по обеспечению Korshiles.kz (далее – Компания) безопасности Ваших персональных данных (далее - Данные), и также какие данные получает, как использует и обменивается ими с другими лицами.</p>
                
                <p>Полным и безоговорочным принятием Пользователем Политики является совершение Пользователем действий, направленных на использование Интернет-ресурсов, в том числе, поиск, просмотр или подача объявлений, регистрация на интернет-ресурсе и прочие действия по использованию функциональности Интернет-ресурсов. </p>

                <h5 class="card-title">Что Компания считает Данными</h5>
                <p>Для Компании цели, принципы и правовые основы деятельности, связанные со сбором, обработкой и защитой Данных имеют важное значение и являются важным приоритетом. Поэтому, Компания считает «персональными» те Данные, которые связаны с Вами, а именно – Пользователем сайта и мобильного приложения korshiles.kz (далее – Интернет-ресурсы) и/или предоставленные Вами, в т.ч. о третьих лицах, для оказания Услуг.</p>
            
                <h5 class="card-title">Какие данные о Вас получает Компания</h5>
                <p>Компания получает или собирает информацию для предоставления информационных услуг по размещению, обработке и переработке данных пользователя через личный кабинет на информационных интернет-ресурсах и приложениях korshiles.kz, а также услуг и сервисов партнеров Компании (далее - Услуг), в том числе при установке и использовании интернет-ресурсов и осуществлении доступа к ним.</p>

                <h5 class="card-title">Информация, предоставляемая Вами:</h5>
                <p>Данные необходимы Компании для защиты безопасности Пользователей, безопасного предоставления Услуг и надлежащего оказания Услуг, выполнения обязательств перед Пользователями.</p>
                
                <p>Пользователь - посетитель Интернет-ресурсов;</p>

                <p>Пользовательские данные - это только номер мобильного телефона;</p>

                <p>Клиент - Пользователь, размещающий на Интернет-ресурсах контент.</p>

                <p>С согласия Пользователя Интернет-ресурсы получают доступ к:</p>
                <p>- галерее фотографий (только в случае, если Вы намерены выбрать фото для размещения объявлений);</p>
                <p>- камере мобильного устройства Пользователя (доступ, например, позволит Пользователю сделать фото).</p>

                <h5 class="card-title">Какие меры безопасности использует Компания для сохранения конфиденциальности информации</h5>
                <p>Компания обладает современными технологиями и внутренними процедурами и осуществляет все действия, направленные для защиты Ваших данных от постороннего вмешательства, несанкционированных попыток доступа к информации, изменения, выявление наличия искажений и/или изменений в содержании электронных документов, раскрытия или уничтожения.</p>
                
                <p>Интернет-ресурсы обеспечивает защиту передаваемых данных между Вами и Компанией в сети интернет по защищенному протоколу HTTPS, используя криптографический протокол TLS v1.2. Ваши пароли в системе Компании не отображаются, хранятся и передаются исключительно в зашифрованном виде.</p>

                <p>Интернет-ресурсы обеспечивает защиту передаваемых данных между Вами и Компанией в сети интернет.</p>

                <p>Вы обязуетесь, не разглашать, не предоставлять и скрывать при наборе от третьих лиц данные своей учетной записи, такие как номер телефона и пароль. Рекомендуется пользоваться и своевременно обновлять антивирусные программы для обеспечения максимальной защиты. Соблюдение Вами рекомендаций Компании позволит обеспечить максимальную сохранность предоставленной информации.</p>

                <h5 class="card-title">Вопросы о конфиденциальности</h5>
                <p>Политика распространяется на всех Пользователей, и применяется в отношении предоставленных им Данных во время пользования Интернет-ресурсами.</p>

                <p>В случае, если Вы не согласны с Политикой, Вы обязаны отказаться от использования Интернет-ресурсами.</p>

                <p>Вы соглашаетесь, что в случае отказа полностью или частично от принятия условий Политики, все или часть функций Интернет-ресурсов могут стать для Вас недоступны, поскольку наличие такого отказа, ведет к невозможности законного предоставления услуг Компанией.</p>

                <p>Политика в любой момент может быть изменена или дополнена без какого-либо предварительного уведомления Пользователей. Изменения вступают в силу с момента их опубликования на Интернет-ресурсе.</p>

                <p>К Политике и отношениям между Пользователем и Компанией, применяются требования законодательства Республики Казахстан. Все права на Интернет-ресурсы, в том числе реализуемые и разрабатываемые подвязанные сервисы принадлежат Korshiles.kz.</p>
            </div>

          </div>

        </div>
      </div>
    </section>

</main>
{% endblock content %}