<a href="{% url 'ad' x.ad %}">
    <div class="card">
        <img src="/static/img/no-image.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{x.type.ru}}</h5>
            <p class="card-text">г. {{x.city.ru}}{% if not x.district.ru == None %}, {{x.district.ru}} район{% endif %}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div></div>
                <span>{{x.create_time|date:"d.m.Y"}}</span>
            </div>
        </div>
    </div>
</a>