<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'create_ad' %}">
              <i class="bi bi-plus-lg"></i>
              <span>Подать объявление</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'my_ads' %}">
              <i class="bi bi-card-list"></i>
              <span>Мои объявления</span>
            </a>
        </li>

        {% if user.is_staff %}
        <li class="nav-heading">Админ</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'check_ad' %}">
                <i class="bi bi-card-checklist"></i>
                <span>Объявления на проверку</span>
            </a>            
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'delete_outdated' %}">
                <i class="bi bi-trash"></i>
                <span>Удалить неактуальные</span>
            </a>            
        </li>
        {% endif %}

    </ul>
</aside>