<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'create_ad' %}">
              <i class="bi bi-grid"></i>
              <span>Подать объявление</span>
            </a>
        </li>

        {% if user.is_staff %}
        <li class="nav-heading">Админ</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'check_ad' %}">
                <i class="bi bi-card-checklist"></i>
                <span>Объявления на проверку</span>
            </a>            
        </li>
        {% endif %}

    </ul>
</aside>