<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Скачайте наше приложение</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                
                <div class="row">
                    <div class="col">

                        <a href="https://play.google.com/store/apps/details?id=com.korshiles_app" target="_blank">
                            <img src="/static/img/google_play.png" alt="Google Play" style="height: 60px;">
                        </a>

                    </div>
                    <div class="col">
                        
                        <a href="https://apps.apple.com/us/app/көршілес-поиск-подселения/id6746857256" target="_blank">
                            <img src="/static/img/app_store.png" alt="App Store" style="height: 60px;">
                        </a>

                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
            </div>

        </div>
    </div>
</div>