<div class="container mt-3">
    <div class="d-flex justify-content-between">

        <!--Logo-->
        <div>
            Logo
        </div>

        <!--Profile-->
        <div class="navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-secondary" href="{% url 'create_ad' %}">Подать объявление</a>
                </li>
                <li class="dropdown">
                    <a class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">Кабинет</a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-item" href="">Мои объявления</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                        <li><a class="dropdown-item" href="{% url 'signup' %}">Зарегистрироваться</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>

    </div>


    <!--Select-->
    <div class="d-flex justify-content-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#ad_looking">Ищу на подселение</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#ad_go">Пойду на подселение</a>
            </li>
        </ul>
    </div>

    
    <!--Search bar-->
    <div class="d-flex justify-content-center mt-4">

        <div class="tab-content">
            <div class="tab-pane container active" id="ad_looking">{% include '../include/ad_looking.html' %}</div>
            <div class="tab-pane container fade" id="ad_go">{% include '../include/ad_go.html' %}</div>
        </div>

    </div>
</div>