{% extends '../base/base-cabinet.html' %}

{% block content %}

<main id="main" class="main">
    <section class="section">

        <div class="pagetitle">
            <h1>Ищу на подселение</h1>
        </div>

        <div class="iconslist">
            {% for x in ad_looking %}
            <a href="{% url 'ad' x.ad %}">
                <div class="card">
                    <img src="/static/img/no-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card with an image on top</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <div class="pagetitle">
            <h1>Пойду на подселение</h1>
        </div>

        <div class="iconslist">
            {% for x in ad_go %}
            <a href="{% url 'ad' x.ad %}">
                <div class="card">
                    <img src="/static/img/no-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card with an image on top</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-success" onclick="check_result('{{x.ad}}', 'accept')">Принять</button>
                        <button type="button" class="btn btn-danger" onclick="check_result('{{x.ad}}', 'reject')">Отклонить</button>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

<script type="text/javascript">

    function check_result(ad, result) {
        $.ajax({
            url: "{% url 'check_result' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'ad': ad,
                'result': result,
            },
            success: function(response) {
                console.log(response);
                if (response == 'success') {
                    location.reload();
                }
            }
        });
    }

</script>

{% endblock content %}