{% extends '../base/base-cabinet.html' %}

{% block content %}

<main id="main" class="main">
    <section class="section">

        <div class="pagetitle">
            <h1>Ищу на подселение</h1>
        </div>

        <div class="iconslist">
            {% for x in ad_looking %}
            <a href="{% url 'ad' x.ad %}">
                <div class="card">
                    <img src="/static/img/no-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card with an image on top</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <div class="pagetitle">
            <h1>Пойду на подселение</h1>
        </div>

        <div class="iconslist">
            {% for x in ad_go %}
            <a href="{% url 'ad' x.ad %}">
                <div class="card">
                    <img src="/static/img/no-image.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card with an image on top</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock content %}