{% extends '../base/base-cabinet.html' %}

{% block content %}

<main id="main" class="main">
    <section class="section">

        <div class="pagetitle">
            <h1>Ищу на подселение</h1>
        </div>

        <div class="row">
            {% for x in ad_look %}
            <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    {% include '../include/ad_card_ver.html' %}
                    <div class="label">
                        <button type="button" class="btn btn-success" onclick="check_result('{{x.ad}}', 'accept')">Принять</button>
                        <button type="button" class="btn btn-danger" onclick="check_result('{{x.ad}}', 'reject')">Удалить</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="pagetitle">
            <h1>Пойду на подселение</h1>
        </div>

        <div class="row">
            {% for x in ad_go %}
            <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
                <div class="card text-center">
                    {% include '../include/ad_card_ver.html' %}
                    <div class="label">
                        <button type="button" class="btn btn-success" onclick="check_result('{{x.ad}}', 'accept')">Принять</button>
                        <button type="button" class="btn btn-danger" onclick="check_result('{{x.ad}}', 'reject')">Удалить</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

<script type="text/javascript">

    function check_result(ad, result) {
        $.ajax({
            url: "{% url 'check_result' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'ad': ad,
                'result': result,
            },
            success: function(response) {
                console.log(response);
                if (response == 'success') {
                    location.reload();
                }
            }
        });
    }

</script>

{% endblock content %}