{% extends '../base/base-cabinet.html' %}

{% block content %}

<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Подать объявление</h5>
        
                        <!-- Pills Tabs -->
                        {% include '../include/create_ad_form.html' %}
                        <!-- End Pills Tabs -->
        
                    </div>
                </div>

            </div>
        </div>
    </section>    
</main>

{% endblock content %}