{% extends '../base/base-cabinet.html' %}

{% block content %}

<main id="main" class="main">
    <section class="section">

        <div class="row">
            <!-- Result -->
            <div class="col-xl-6">
                <div class="pagetitle">
                    <h1>Мои объявления</h1>
                </div>

                {% for x in my_ads %}
                    {% include '../include/ad_card_hor.html' %}
                {% endfor %}
            </div>
           

            <!-- Right bar -->
            <div class="col-xl-6">

            </div>

        </div>
        
    </section>
</main>

{% endblock content %}