{% extends '../base/base-empty.html' %}

{% block content %}

<main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Korshiles</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Создание учетной записи</h5>
                  </div>
                  

                <form id="signup-form" class="row g-3 needs-validation">
					<div class="col-12">
						<label for="phone_number" class="form-label">Номер телефона</label>
						<div class="input-group has-validation">
							<span class="input-group-text" id="inputGroupPrepend">+7</span>
							<input type="number" id="phone_number" name="phone_number" class="form-control" required>
							<div class="invalid-feedback">Please write a phonenumber".</div>
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary w-100" id="send-code-btn">Продолжить</button>
					</div>                    
                </form>

				<form id="verify-form" class="row g-3 needs-validation" style="display:none;">
					<div class="col-12">
						<label for="username" class="form-label">Номер телефона</label>
						<div class="input-group has-validation">
							<span class="input-group-text" id="inputGroupPrepend">+7</span>
							<input type="hidden" id="username" name="username" class="form-control" required>
							<div class="invalid-feedback">Please write a code".</div>
						</div>
					</div>

					<div class="col-12">
						<label for="auth_code" class="form-label">Код верификации</label>
						<div class="input-group has-validation">							
							<input type="number" id="auth_code" name="auth_code" class="form-control">
							<div class="invalid-feedback">Please write a code".</div>
						</div>
					</div>

					<div class="col-12">
						<label for="password" class="form-label">Пароль</label>
						<div class="input-group has-validation">							
							<input type="password" id="password" name="password" class="form-control" autocomplete="new-password">
							<div class="invalid-feedback">Please write a password".</div>
						</div>
					</div>

					<div class="col-12">
						<button class="btn btn-primary w-100" id="verify-btn">Создать учетную запись</button>
					</div>
				</form>

				<div class="col-12">
					<p class="small mb-0">Already have an account? <a href="pages-login.html">Log in</a></p>
				</div>

                </div>
              </div>


            </div>
          </div>
        </div>

      </section>

    </div>
  </main>
  <!-- End #main -->

<script type="text/javascript">
	$(document).ready(function() {
		$('#send-code-btn').click(function() {
			var phone_number = $('#phone_number').val();
			$.ajax({
				url: "{% url 'signup' %}",
				type: "POST",
				data: {
					'phone_number': phone_number,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function(response) {
					console.log(response)
					if (response == 'code_sent') {
						$('#signup-form').hide();
						$('#verify-form').show();
						$('#username').val(phone_number);
					}
				}
			});
		});

		$('#verify-btn').click(function() {
			var phone_number = $('#phone_number').val();
			var auth_code = $('#auth_code').val();
			var password = $('#password').val();
			$.ajax({
				url: "{% url 'check_authcode' %}",
				type: "POST",
				data: {
					'phone_number': phone_number,
					'auth_code': auth_code,
					'password': password,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				success: function(response) {
					if (response == 'user_created') {
						alert('User created successfully!');
					} else if (response == 'invalid_code') {
						alert('Invalid code. Please try again.');
					}
				}
			});
		});
	});
</script>
{% endblock content %}